#find-train {
    background: url(../img/ticket_bg.jpg) no-repeat center center / cover;
}

.request {
    background: #ffffffd6;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #6f46ba8c;
    border-width: 2px;
}

tr {
    background-color: #edeafb;
}

tr:nth-child(odd) {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6F46BA;
    color: white;
}

.input td {
    padding: 5px;
}

.request input {
    margin: 0;
}

.request btn {
    margin: 0;
}

.form-block {
    margin-bottom: 10px;
}

.inactive {
    background: none;
    color: #333;
    font-weight: bold;
}

.trip-id {
    text-align: left;
    width: 50px;
}