.select-input {
	height: 30px;
	width: 180px;
	margin: 10px;
	border-radius: 1px;
	border: 0;
	font-size: 18px;
	text-align: center;
}

.radioBtn {
	text-align: center;
	vertical-align: middle
}

.radioBtn input {
	height: 15px;
	width: 15px;
}

.answer {
	color: #ce0909;
	text-align: center;
}

table {
	background: none;
}

td {
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 0;
}

tr {
	background: none;
}

tr:nth-child(even) {
	background: none;
}