body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	background: #fff;
	border: 1px, red;
}

.clearfix::after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.separator {
	box-shadow: inset 0px -12px 10px -10px rgba(0, 0, 0, 0.7);
	height: 10px;
}

.content {
	padding: 60px;
}

a {
	color: #6F46BA;
	display: inline-block;
	margin-top: 10px;
}

a:hover {
	text-decoration: none;
}

p {
	margin: 10px;
}

.container {
	max-width: 90vw;
	margin: 0 auto;
	text-align: center;
}

.btn {
	color: #fff;
	background: #6F46BA;
	padding: 10px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 17px;
	border: 0;
	cursor: pointer;
	text-decoration: none;
	height: auto;
	margin: 10px;
}

.btn:hover {
	background: #db4f72;
	transition: 0.3s;
}

.btn span {
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.btn span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.btn:hover span {
	padding-right: 25px;
}

.btn:hover span:after {
	opacity: 1;
	right: 0;
}

h2 {
	text-align: center;
}

.form {
	background: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
	padding: 40px;
	display: inline-block;
	font-weight: bold;
	color: #333;
	margin: 30px;
}

input {
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 1px;
	border: 0;
	font-size: 18px;
	text-align: center;
}

.form-block {
	display: inline-block;
	padding: 5px;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	cursor: help;
}

.tooltip .tooltiptext {
	font-weight: normal;
	padding: 10px;
	visibility: hidden;
	width: 120px;
	background-color: #757575;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #757575 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 10px;
}

td, th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #6F46BA;
	color: white;
}

tr {
    background-color: #f7f7f7;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}