#personal-card {
    height: 250px;
    width: fit-content;
    margin: auto;
    margin-bottom: 40px;
}

#avatar {
    height: 100%;
    float: left;
}

.info {
    margin: 20px;
    display: inline-block;
    text-align: left;
}

th {
    text-align: center;
}

.unpaid {
    color: #ce0909;
}

.paid {
    color: green;
}

p a {
    margin: 0;
}