td {
    text-align: center;
}

.input td {
    padding: 5px;
}

.input input {
    margin: 0;
}

#trip_input {
    display: none;
}

.a_btn {
    color: #6F46BA;
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
    margin: 5px;
}

.a_btn:hover {
    text-decoration: none;
}

.amount {
    max-width: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.price {
    width: 70px;
}

.repeat {
    width: 40px;
}

.carriages {
    margin: 0;
}

.carriages td {
    padding: 0;
}